body{
   background-color: #080705;
}
header{
   background-color: #161412;
   border-radius: 20px;
}
#logo{
   display: inline-block;
   width: 46%;
   text-align: right;
}
/*Para não usar css inline, e poder aplicar no footer, eu coloquei isso aqui*/
#imglogo{
   height: 30%;
   width: 30%;
}
/*--------------------------*/
/*Tava sentindo necessidade de aumentar a logo*/
#titulogo{
   display:inline-block;
   text-align: left;
   color:#fcfffb;
   text-shadow: 2px 2px black;
   font-family: Tahoma;
   width: 49%;
   font-size: 2vw;
}

/*--------------------*/
#titulo{
   display:inline-block;
   width: 49%;
   text-align: left;
   color:#fcfffb;
   text-shadow: 2px 2px black;
}
.grande{
   font-family: 'Courier New', monospace;
   color: #215fa3;
   font-size: 1.6vw;
   padding: 1vw;
}
#sub{
   text-decoration: underline;
}
#menu{
   margin:50px;
   text-align: center;
   background-color: #215fa3;
   display: block;
   border-radius: 20px;
}
.nomedolink{
   width: 32%;
   color:#fcfffb;
   text-align: center;
   display:inline-block;
}
/*Ajeitando os links clicáveis do menu de navegação*/
a.hyperlinks{
   text-decoration: none;
   color: #fcfffb;
   font-size: 1.3vw;
   font-family: Tahoma;
}
/*------------------------*/

#centro{
   background-color: #161412;
   width: 97.5%;
   /*Border-radius: Faz as pontas ficarem arredondadadas*/
   border-radius: 20px;
   padding-bottom: 5px;
}
#centroloja{
   background-color: #161412;
   width: 97.5%;
   /*Border-radius: Faz as pontas ficarem arredondadadas*/
   border-radius: 20px;
   padding-bottom: 5px;
   padding-left: 2vw;
}
#Descrição{ 
   color: white;  
   text-align: center;
}
/*Cor aos títulos*/
.titulo{
   color:#215fa3;
}
/*Para alinhar a explicação dos mango*/
#oque{
   width:50%;
   padding-left:25%;
/*---------------*/
}
/*Para substituir a gambiarra de float*/
.conteudo{
   display: flex;
   padding: 1vw;
}
/*--------------------*/
.subtitulo{
   font-size: 1.3vw;
   color: #fcfffb;
   font-family: Tahoma;
}
/*Ajeitando as coisas que tão escritas*/
.paragrafo{
   font-size: 1.3vw;
   text-align: left;
   color: #938274;
}
#lista{
   text-align: justify;
}
#centralizador{
   width: 40%;
   margin: auto;
}
#arte{
   text-align: center;
   border-radius: 100*-px;
}
/*Imagens arredondadas*/
#imagem{
   padding: 20px;
   border-radius: 20px;
   width: 45vw;
}
#imagemmenor{
   padding: 20px;
   border-radius: 20px;
   width: 23vw;
}
#imagemlojas{
   padding: 20px;
   border-radius: 20px;
   width: 20vw;
}
/*--------------------*/
#pdecima{
   padding-left: 20px;
   
}
/*----------------------------*/
#artistas{
   width: 49%;
   display: block;
   float: right;
   text-align: center;
}
/*Tamanho do Rodapé*/
#rodape{
   margin: 40px 50px 0px 50px;
   display: flex;
}
/*Escrita de "Todos os direitos reservados" lá debaixo no rodapé*/
#direitorodape{
   font-size: 1vw;
   width: 49%;
   color:#fcfffb;
   text-align: right;
}
/*Essa é a div da esquerda do rodapé, onde vai ficar as imagens*/
#esquerdorodape{
   width: 46%;
   text-align: left;
   padding-left: 30px;
}
/*Tamanho da imagem*/
#footerlogo{
   width: 25%;
}

.ex{
   display: inline-block;
   width: 39%;
   color:#215fa3;
   font-family: 'Courier New', monospace;
}
.ix{
   display: block;
   float: right;
   width: 49%;
}
.ex2{
   display: block;
   color:#215fa3;
   font-family: 'Courier New', monospace;
   text-align: center;
}
#divloja{
   float: right;
}
#linkexplica{
   margin: auto;
   padding: 1vw;
}
/*----------------------*/